/* universal/body */

* {
    /* var declare */
    --lightColor: #8170E8;
    --medColor: #6D5FC3;
    --darkColor: #4E4390;
    --textColor: #fff;
    
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkColor);
}

/* header */

header {
    background-color: var(--medColor);
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    box-shadow: 10px 0 20px 5px rgba(0, 0, 0, .2);
}

header > * {
    position: relative;
    top: 25%;
}

/* photo/name */

header img {
    border: solid 15px var(--lightColor);
    border-radius: 30px 0 30px 30px;
}

header h1 {
    height: 20%;
    background-color: var(--lightColor);
    border: solid 15px var(--lightColor);
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
    margin-right: 100px;
}

/* navigation */

nav {
    background-color: var(--lightColor);
    width: 300px;
    height: 25px;
    padding: 10px;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
}

nav li {
    display: inline;
}

/* main */

main {
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* title lines */

.titleLine {
    background-color: var(--textColor);
    position: relative;
    top: 65px;
    flex: 0 1 855px;
    height: 5px;
}

/* article - about me */

#aboutMe {
    background-color: var(--lightColor);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex: 0 1 815px;
    flex-wrap: wrap;
}

#aboutMe h2 {
    margin: 0 80% 40px 0;
}

#aboutMe p {
    max-width: 400px;
}

#aboutMe img {
    border-radius: 15px;
    margin-left: 38px;
}

/* article - projects title */

#projectsTitle {
    background-color: var(--lightColor);
    border-radius: 25px 25px 0 0;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex: 0 1 815px;
    flex-wrap: wrap;
}

#projectsTitle h2 {
    margin-bottom: 40px;
}

/* footer */

footer {
    background-color: var(--medColor);
    box-shadow: -5px 0 20px 5px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100px;
    padding: 20px 0 20px 0;
}

footer p {
    text-align: center;
    margin-top: 20px;
}